<div class="display-6 w-50 m-auto text-center position-absolute">
  What are you <strong>here to do?</strong>
</div>

<swiper [config]="config" class="mySwiper" #swiperRef>
  <ng-template *ngFor="let slide of slides; index as i" swiperSlide>
    <div class="swiper-slide">
      <div (click)="cardClicked(i)" class="card w-100 h-100">
        <div>
          <mat-icon [inline]="true" class="myIcon">
            {{ slide?.iconName }}</mat-icon
          >
        </div>
        <h2 class="card-title">{{ slide?.title }}</h2>

        <button
          *ngIf="slide?.title === 'Get a device'"
          (click)="startClicked($event)"
          mat-icon-button
          aria-label="Start here"
          class="align-self-center w-50"
        >
          Start here
          <mat-icon [inline]="true">chevron_right</mat-icon>
        </button>
      </div>
    </div>
  </ng-template>
</swiper>
